body{
    background-color: black;
}
.container{
    position: relative;
    height: 80vh;
    width: 30vw;
    background-color: green;
    overflow: hidden;
}
.box {
    height: 70px;
    width: 70px;
    background-color: rgb(255, 2, 2);
    position: absolute;
    border-radius: 50%;
    bottom: 0px;
    animation: ball 4s infinite cubic-bezier(0, -0.07, 0.21, 0.84);
}

@keyframes ball {

    0%{
        transform: translateX(-50px) translateY(0);
    }
    10% {
        transform: translateX(50px) translateY(-500px);
    }
    20%{
          transform: translateX(110px) translateY(0);
      }
      30% {
        transform: translateX(170px) translateY(-400px);
      }
      40% {
        transform: translateX(230px) translateY(0);
      }
      50% {
        transform: translateX(290px) translateY(-300px);
      }
      60% {
        transform: translateX(350px) translateY(0);
      }
      70% {
        transform: translateX(410px) translateY(-200px);
      }
      80% {
        transform: translateX(470px) translateY(0);
      }
      90%{
        transform: translateX(530px) translateY(-100px);
      }
      100% {
        transform: translateX(600px) translateY(0);
      }
    

}